{% extends "layout.html" %}
<!--  -->
{% block title %} Password Change {% endblock %}
<!--  -->
{% block main %}
<form
	action="/change_pass"
	method="post">
	<!-- Get old password and new password and send to change_pass route -->
	<div class="mb-3">
		<input
			autocomplete="off"
			autofocus
			class="form-control mx-auto w-auto"
			id="old_pass"
			name="old_pass"
			placeholder="Your Old Password"
			type="password" />
	</div>
	<div class="mb-3">
		<input
			autocomplete="off"
			autofocus
			class="form-control mx-auto w-auto"
			id="new_pass"
			name="new_pass"
			placeholder="Your New password"
			type="password" />
	</div>
	<button
		class="btn btn-primary"
		type="submit">
		Change Password
	</button>
</form>
{% endblock %}
